<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.excalibur.funwithgles">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".opengl_slide_show.HomeSlideActivity" />
        <activity android:name=".drawtriangle.DrawTriangleActivity" />
        <activity android:name=".gpuimageslide.GPUImageSlideActivity" />
        <activity android:name=".drawbitmap.SlideShowActivity" />
        <activity android:name=".slideshow.edit.EditActivity" />
        <activity android:name=".slideshow.SlideActivity" />
        <activity android:name=".opgl1_init.InitOpenGLActivity" />
        <activity android:name=".opgl1_airhockey.AirHockeyActivity" />
        <activity android:name=".chp1.GettingStarted" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>